@charset "UTF-8";
/* Обнуление */
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@500&family=Rubik:wght@500&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

a {
  text-decoration: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/* -------------------- */
h1 {
  font-size: 40px;
  line-height: 1;
  margin: 0px 0px 50px 0px;
}

h2 {
  font-size: 30px;
  line-height: 1;
  margin: 0px 0px 20px 0px;
}

html {
  scroll-behavior: smooth;
}

body {
  background: -webkit-linear-gradient(90deg, #1e0d35, #0f101b);
  background: linear-gradient(90deg, #1e0d35, #0f101b);
  font-family: "DM Sans", sans-serif;
  overflow-x: hidden;
}

.wrapper {
  display: flex;
  flex-direction: column;
  z-index: 900;
  position: relative;
}

.main {
  flex-grow: 1;
}

.footer {
  flex-grow: 0;
  flex-shrink: 1;
}

.container {
  max-width: 1164px;
  margin: auto auto;
  padding: 0 15px;
}

header.header .header__body {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 48px 0;
}
@media only screen and (max-width: 800px) {
  header.header .header__body {
    justify-content: space-around;
  }
}
header.header .header__body ul.tips {
  display: flex;
  gap: 60px;
  align-items: center;
}
header.header .header__body ul.tips li.tips__tip {
  font-size: 14px;
  line-height: 18px;
  color: #F9FAFB;
  cursor: pointer;
  transition: all 0.3s linear;
}
header.header .header__body ul.tips li.tips__tip:hover {
  text-shadow: 0 0 20px #FFFFFF;
}
header.header .header__body ul.tips li.tips__tip a {
  display: block;
  color: #F9FAFB;
}
header.header .header__body .header__left {
  position: relative;
}
header.header .header__body .header__left .header__title {
  font-family: "Rubik", sans-serif;
  font-size: 20px;
  line-height: 24px;
  /* identical to box height */
  color: #FFFFFF;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
header.header .header__body .header__left .header__title::before {
  content: "";
  display: block;
  width: 35px;
  height: 35px;
  background-image: url("../../images/main_logo.png");
  margin-right: 7px;
}
@media only screen and (max-width: 800px) {
  header.header .header__body .header__right {
    display: none;
  }
}

section.virtual-reality {
  margin-bottom: 120px;
}
@media only screen and (max-width: 960px) {
  section.virtual-reality {
    margin-bottom: 80px;
  }
}
section.virtual-reality .virtual-reality__body {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media only screen and (max-width: 700px) {
  section.virtual-reality .virtual-reality__body {
    flex-direction: column;
  }
}
section.virtual-reality .virtual-reality__body .virtual-reality__business-solution {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  flex-grow: 1;
}
section.virtual-reality .virtual-reality__body .virtual-reality__business-solution .business-solution__title {
  font-size: 58px;
  line-height: 84px;
  /* or 145% */
  letter-spacing: 0.02em;
  background: linear-gradient(89.83deg, #2563EB 0.11%, #D946EF 58.65%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.07);
}
@media only screen and (max-width: 960px) {
  section.virtual-reality .virtual-reality__body .virtual-reality__business-solution .business-solution__title {
    font-size: 32px;
    line-height: 40px;
  }
}
section.virtual-reality .virtual-reality__body .virtual-reality__business-solution .business-solution__text {
  font-size: 15px;
  line-height: 30px;
  color: #E5E7EB;
  opacity: 0.8;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.07);
  max-width: 554px;
}
@media only screen and (max-width: 960px) {
  section.virtual-reality .virtual-reality__body .virtual-reality__business-solution .business-solution__text {
    font-size: 10px;
    line-height: 20px;
  }
}
section.virtual-reality .virtual-reality__body .virtual-reality__business-solution .business-solution__buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
section.virtual-reality .virtual-reality__body .virtual-reality__business-solution .business-solution__buttons .business-solution__watch-video {
  font-size: 16px;
  line-height: 21px;
  color: #F9FAFB;
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 10px;
  cursor: pointer;
  transition: all 0.3s ease;
}
section.virtual-reality .virtual-reality__body .virtual-reality__business-solution .business-solution__buttons .business-solution__watch-video::before {
  content: "";
  display: block;
  width: 30px;
  height: 30px;
  background: url("../../images/Play.png");
}
section.virtual-reality .virtual-reality__body .virtual-reality__business-solution .business-solution__buttons .business-solution__watch-video:hover {
  text-shadow: 0 0 10px #FFFFFF;
}
section.virtual-reality .virtual-reality__body .virtual-reality__capture {
  position: relative;
  width: 680px;
  height: 680px;
  flex-shrink: 1;
  flex-grow: 0;
}
@media only screen and (max-width: 960px) {
  section.virtual-reality .virtual-reality__body .virtual-reality__capture {
    margin-top: -30px;
  }
}
@media only screen and (max-width: 560px) {
  section.virtual-reality .virtual-reality__body .virtual-reality__capture {
    width: auto;
    height: auto;
  }
}
section.virtual-reality .virtual-reality__body .virtual-reality__capture img {
  position: absolute;
  z-index: 20;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;
}
section.virtual-reality .virtual-reality__body .virtual-reality__capture::after {
  content: "";
  position: absolute;
  z-index: 3;
  left: 76.11%;
  right: 0.28%;
  top: 3.52%;
  bottom: 90.2%;
  width: 300px;
  height: 500px;
  background: #5141DA;
  filter: blur(170px);
}

section.our_services {
  margin-bottom: 200px;
}
section.our_services .our_services__body {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 30px;
}
section.our_services .our_services__body .our_services__title {
  font-size: 42px;
  line-height: 55px;
  color: #FFFFFF;
  font-weight: 700;
}
section.our_services .our_services__body .our_services__information {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  color: #FFFFFF;
  max-width: 587px;
}
section.our_services .our_services__body .our_services__cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 30px;
  row-gap: 40px;
}
section.our_services .our_services__body .our_services__cards .our_services__card:nth-child(1):hover {
  box-shadow: 0 0 20px 20px #5141DA;
}
section.our_services .our_services__body .our_services__cards .our_services__card:nth-child(2):hover {
  box-shadow: 0 0 20px 20px #923250;
}
section.our_services .our_services__body .our_services__cards .our_services__card:nth-child(3):hover {
  box-shadow: 0 0 20px 20px #4292BB;
}
section.our_services .our_services__body .our_services__cards .our_services__card:nth-child(4):hover {
  box-shadow: 0 0 20px 20px #2F8F5B;
}
section.our_services .our_services__body .our_services__cards .our_services__card:nth-child(5):hover {
  box-shadow: 0 0 20px 20px #923283;
}
section.our_services .our_services__body .our_services__cards .our_services__card:nth-child(6):hover {
  box-shadow: 0 0 20px 20px #4247BB;
}
section.our_services .our_services__body .our_services__cards .our_services__card:hover {
  cursor: pointer;
  border-radius: 100px;
}
section.our_services .our_services__body .our_services__cards .our_services__card {
  background: linear-gradient(268.12deg, rgba(254, 254, 255, 0.032) -11.04%, rgba(255, 255, 255, 0.018) 104.89%);
  /* Shadow */
  box-shadow: 0 22px 200px inset rgba(0, 0, 0, 0.05);
  transition: all 1s ease-in-out;
  border-radius: 34px;
  display: flex;
  flex-direction: column;
  padding: 23px;
  align-items: center;
  justify-content: center;
  row-gap: 15px;
  position: relative;
}
section.our_services .our_services__body .our_services__cards .our_services__card .card__image {
  position: relative;
  width: 60px;
  height: 60px;
}
section.our_services .our_services__body .our_services__cards .our_services__card .card__image img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
section.our_services .our_services__body .our_services__cards .our_services__card .card__title {
  font-weight: 500;
  font-size: 20px;
  line-height: 31px;
  color: #FFFFFF;
  display: flex;
  align-items: center;
  justify-content: center;
}
section.our_services .our_services__body .our_services__cards .our_services__card .card__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  /* or 162% */
  color: #FFFFFF;
}
section.our_services .our_services__body .our_services__cards .our_services__card .card__button {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  /* identical to box height, or 162% */
  color: #FFFFFF;
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 5px;
}
section.our_services .our_services__body .our_services__cards .our_services__card .card__button::after {
  content: "";
  display: block;
  width: 14px;
  height: 14px;
  background: url("../../images/arrow.png") center;
}

section.complete-every-service {
  margin-bottom: 186px;
}
section.complete-every-service .complete-every-service__body {
  display: grid;
  grid-template-columns: 1fr 2fr;
  align-items: center;
}
section.complete-every-service .complete-every-service__body .complete-every-service_image {
  position: relative;
  width: 500px;
  height: 500px;
}
section.complete-every-service .complete-every-service__body .complete-every-service_image img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
section.complete-every-service .complete-every-service__body .complete-every_service__content {
  display: flex;
  flex-direction: column;
  row-gap: 30px;
  flex-shrink: 1;
  flex-grow: 0;
}
section.complete-every-service .complete-every-service__body .complete-every_service__content .complete-every-service__title {
  font-weight: 700;
  font-size: 42px;
  line-height: 55px;
  color: #FFFFFF;
}
section.complete-every-service .complete-every-service__body .complete-every_service__content .complete-every-service__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #FFFFFF;
}
section.complete-every-service .complete-every-service__body .complete-every_service__content .complete-every-service__btn {
  display: flex;
  padding: 10px 20px;
  align-items: center;
  justify-content: center;
  max-width: 150px;
}

section.complete-every-project {
  margin-bottom: 180px;
}
section.complete-every-project .complete-every-project__body {
  display: grid;
  grid-template-columns: 2fr 1fr;
  align-items: center;
}
section.complete-every-project .complete-every-project__body .complete-every_project__content {
  display: flex;
  flex-direction: column;
  row-gap: 30px;
}
section.complete-every-project .complete-every-project__body .complete-every_project__content .complete-every-project__title {
  font-weight: 700;
  font-size: 42px;
  line-height: 55px;
  color: #FFFFFF;
  max-width: 582px;
}
section.complete-every-project .complete-every-project__body .complete-every_project__content .complete-every-project__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  /* or 162% */
  color: #FFFFFF;
}
section.complete-every-project .complete-every-project__body .complete-every_project__content .complete-every-project__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  max-width: 150px;
}
section.complete-every-project .complete-every-project__body .complete-every-project_image {
  position: relative;
  width: 500px;
  height: 500px;
}
section.complete-every-project .complete-every-project__body .complete-every-project_image img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

section.our_team {
  margin-bottom: 120px;
}
section.our_team .our_team__body .our_team__title {
  font-weight: 700;
  font-size: 42px;
  line-height: 55px;
  color: #FFFFFF;
  text-align: center;
  margin-bottom: 30px;
}
section.our_team .our_team__body .our_team__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  text-align: center;
  color: #FFFFFF;
}
section.our_team .our_team__body .our_team__cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin-top: 50px;
  column-gap: 20px;
}
section.our_team .our_team__body .our_team__cards .card {
  background: linear-gradient(268.12deg, rgba(254, 254, 255, 0.032) -11.04%, rgba(255, 255, 255, 0.018) 104.89%);
  box-shadow: 0 22px 18px rgba(0, 0, 0, 0.05);
  border-radius: 34px;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  align-items: center;
  justify-content: center;
  padding: 20px 10px;
  cursor: pointer;
  transition: all 0.3s ease;
}
section.our_team .our_team__body .our_team__cards .card:hover {
  box-shadow: 0 0 10px 10px rgba(255, 255, 255, 0.5);
}
section.our_team .our_team__body .our_team__cards .card .title {
  font-weight: 500;
  font-size: 28px;
  line-height: 36px;
  color: #FFFFFF;
}
section.our_team .our_team__body .our_team__cards .card .job {
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  letter-spacing: 0.03em;
  color: #FFFFFF;
}
section.last_news {
  margin-bottom: 100px;
}
section.last_news .last_news__body {
  background: linear-gradient(180deg, rgba(254, 254, 255, 0.1) 0%, rgba(255, 255, 255, 0.1) 100%);
  box-shadow: 0 22px 18px rgba(0, 0, 0, 0.05);
  border-radius: 34px;
  padding: 50px 100px 40px 100px;
}
section.last_news .last_news__body .last_news__title {
  font-style: normal;
  font-weight: 700;
  font-size: 42px;
  line-height: 55px;
  /* identical to box height */
  text-align: center;
  color: #FFFFFF;
}
section.last_news .last_news__body .last_news__text {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  text-align: center;
  color: #FFFFFF;
  opacity: 0.8;
  margin-bottom: 29px;
}
section.last_news .last_news__body .last_news__subscribe {
  position: relative;
}
section.last_news .last_news__body .last_news__subscribe label input {
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  width: 100%;
  padding: 20px;
  color: #FFFFFF;
  opacity: 0.9;
  background: linear-gradient(180deg, rgba(254, 254, 255, 0.0348) 0%, rgba(255, 255, 255, 0.048) 100%);
  box-shadow: 10px 24px 54px rgba(0, 0, 0, 0.07);
  border-radius: 70px;
}
section.last_news .last_news__body .last_news__subscribe .last_news__btn {
  position: absolute;
  right: 2%;
  top: 10%;
  font-family: "Rubik", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  color: #FFFFFF;
  background: linear-gradient(90.35deg, #2563EB 0.36%, #D946EF 201.02%);
  opacity: 0.9;
  border-radius: 70px;
}
section.last_news .last_news__body .last_news__subscribe .last_news__btn::before {
  content: "";
  display: block;
  width: 15px;
  height: 15px;
  background: url("../../images/send.png") center;
  margin-right: 10px;
}

footer.footer._passive._animation-items .footer__body .footer__items {
  display: grid;
  grid-template-columns: 1fr 3fr;
  margin-bottom: 10px;
}
footer.footer._passive._animation-items .footer__body .footer__items li {
  color: rgba(255, 255, 255, 0.8);
}
footer.footer._passive._animation-items .footer__body .footer__items .footer__item-left ul {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  align-items: flex-start;
  justify-content: space-between;
}
footer.footer._passive._animation-items .footer__body .footer__items .footer__item-left ul li:nth-child(1)::before {
  content: "";
  display: block;
  width: 35px;
  height: 35px;
  background: url("../../images/main_logo.png");
}
footer.footer._passive._animation-items .footer__body .footer__items .footer__item-left ul li:nth-child(2)::before {
  content: "";
  display: block;
  width: 24px;
  height: 24px;
  background: url("../../images/Virtual Reality Business Solutions/Iconly/Light/Location.png");
}
footer.footer._passive._animation-items .footer__body .footer__items .footer__item-left ul li:nth-child(3)::before {
  content: "";
  display: block;
  width: 24px;
  height: 24px;
  background: url("../../images/Virtual Reality Business Solutions (1)/Iconly/Light/Calling.png");
}
footer.footer._passive._animation-items .footer__body .footer__items .footer__item-left ul li:nth-child(4)::before {
  content: "";
  display: block;
  width: 24px;
  height: 24px;
  background: url("../../images/Virtual Reality Business Solutions (2)/Iconly/Light/Message.png");
}
footer.footer._passive._animation-items .footer__body .footer__items .footer__item-left ul li {
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  display: flex;
  column-gap: 10px;
  align-items: center;
}
footer.footer._passive._animation-items .footer__body .footer__items .footer__item-right {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-items: end;
}
footer.footer._passive._animation-items .footer__body .footer__items .footer__item-right ul li {
  font-weight: 500;
  font-size: 18px;
  line-height: 40px;
  letter-spacing: 0.01em;
}
footer.footer._passive._animation-items .footer__body hr {
  width: 100%;
  background: #969696;
  opacity: 0.2;
  height: 3px;
}
footer.footer._passive._animation-items .footer__body .footer__privacy {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 33px;
  margin-bottom: 36px;
}
footer.footer._passive._animation-items .footer__body .footer__privacy .footer__rights {
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  color: rgba(255, 255, 255, 0.8);
}
footer.footer._passive._animation-items .footer__body .footer__privacy .footer__tips {
  display: flex;
  justify-content: space-between;
  column-gap: 50px;
}
footer.footer._passive._animation-items .footer__body .footer__privacy .footer__tips .footer__tip {
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  color: rgba(255, 255, 255, 0.8);
}

.btn-color {
  display: flex;
  flex-direction: row;
  padding: 12px 24px;
  align-items: center;
  background: linear-gradient(90.35deg, #2563EB 0.36%, #D946EF 201.02%);
  border-radius: 5px;
  color: #F9FAFB;
  cursor: pointer;
  transition: box-shadow 0.3s ease;
}

.btn-color:hover {
  box-shadow: 0 0 5px 5px #FFFFFF;
}

.btn-color:active {
  box-shadow: 0 0 20px 20px inset rgba(255, 255, 255, 0.3);
}

._active {
  -webkit-transition: all 0.8s linear 0s;
  -o-transition: all 0.8s linear 0s;
  transition: all 0.8s linear 0s;
  -webkit-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  transform: translate(0, 0);
  opacity: 1;
}

._passive {
  -webkit-transform: translate(0, 100px);
  -ms-transform: translate(0, 100px);
  transform: translate(0, 100px);
  opacity: 0;
}

._passive-second {
  -webkit-transform: translate(0, -50px);
  -ms-transform: translate(0, -50px);
  transform: translate(0, -50px);
  opacity: 0;
}

._active-second {
  -webkit-transition: all 0.8s linear 0s;
  -o-transition: all 0.8s linear 0s;
  transition: all 0.8s linear 0s;
  -webkit-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  transform: translate(0, 0);
  opacity: 1;
}

.stop-counting {
  opacity: 1 !important;
  -webkit-transform: translate(0, 0) !important;
  -ms-transform: translate(0, 0) !important;
  transform: translate(0, 0) !important;
}

.header__burger {
  display: none;
}
@media only screen and (max-width: 800px) {
  .header__burger {
    display: flex;
    flex-direction: column;
    row-gap: 3px;
  }
  .header__burger div {
    width: 33px;
    height: 3.84px;
    background: #FFFFFF;
    border-radius: 10px;
  }
  .header__burger::before {
    content: "";
    display: block;
    width: 33px;
    height: 3.84px;
    background: #FFFFFF;
    border-radius: 10px;
  }
  .header__burger::after {
    content: "";
    display: block;
    width: 33px;
    height: 3.84px;
    background: #FFFFFF;
    border-radius: 10px;
  }
}

.header__burger_passive {
  display: none;
}

.burger__content {
  display: none;
}

.burger__content_active {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: #171836;
  display: flex;
  z-index: 1000;
  padding: 30px 5px;
  flex-direction: row;
  justify-content: space-between;
}
.burger__content_active ul.burger__tips {
  display: flex;
  gap: 60px;
  align-items: center;
  flex-direction: column;
  flex-basis: 100%;
}
.burger__content_active ul.burger__tips li.tips__tip {
  font-size: 20px;
  line-height: 18px;
  color: #F9FAFB;
  cursor: pointer;
  transition: all 0.3s linear;
}
.burger__content_active ul.burger__tips li.tips__tip:hover {
  text-shadow: 0 0 20px #FFFFFF;
}
.burger__content_active ul.burger__tips li.tips__tip a {
  display: block;
  color: #F9FAFB;
}

.overflow-hidden {
  overflow: hidden;
}

/*# sourceMappingURL=main.css.map */
