/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

@import 'nullstyle.scss';
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@500&family=Rubik:wght@500&display=swap');

@mixin media_title_smalling {
  @media only screen and (max-width: 940px) {
    text-align: center;
    font-size: 30px;
    line-height: 42px;
  }
}

@mixin media_display_changing {
  @media only screen and (max-width: 940px) {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@mixin image_construction {
  position: relative;
  width: 500px;
  height: 500px;
  @media only screen and (max-width: 430px) {
    width: 300px;
    height: 300px;
  }
  img {
    position: absolute;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
  }
}

@mixin service_btn_construction {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px 20px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  max-width: 150px;
}

html {
  scroll-behavior: smooth;
}

body {
  background: -webkit-gradient(linear, left top, right top, from(#1e0d35), to(#0f101b));
  background: -o-linear-gradient(left, #1e0d35, #0f101b);
  background: linear-gradient(90deg, #1e0d35, #0f101b);
  font-family: 'DM Sans', sans-serif;
  overflow-x: hidden;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  z-index: 900;
  position: relative;
}

.main {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

.footer {
  -webkit-box-flex: 0;
  -ms-flex-positive: 0;
  flex-grow: 0;
  -ms-flex-negative: 1;
  flex-shrink: 1;
}

.container {
  max-width: 1164px;
  margin: auto auto;
  padding: 0 15px;
}


header.header {
  .header__body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 48px 0;
    @media only screen and (max-width: 800px) {
      -ms-flex-pack: distribute;
      justify-content: space-around;
    }

    ul.tips {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      gap: 60px;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;

      li.tips__tip {
        font-size: 14px;
        line-height: 18px;
        color: #F9FAFB;
        cursor: pointer;
        -webkit-transition: all 0.3s linear;
        -o-transition: all 0.3s linear;
        transition: all 0.3s linear;

        &:hover {
          text-shadow: 0 0 20px #FFFFFF;
        }

        a {
          display: block;
          color: #F9FAFB;
        }
      }
    }

    .header__left {
      position: relative;

      .header__title {
        font-family: 'Rubik', sans-serif;
        font-size: 20px;
        line-height: 24px;
        /* identical to box height */
        color: #FFFFFF;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;

        &::before {
          content: '';
          display: block;
          width: 35px;
          height: 35px;
          background-image: url("../../images/main_logo.png");
          margin-right: 7px;
        }
      }
    }

    .header__right {
      @media only screen and (max-width: 800px) {
        display: none
      }
    }
  }
}

section.virtual-reality {
  margin-bottom: 120px;
  @media only screen and (max-width: 960px) {
    margin-bottom: 80px;
  }

  .virtual-reality__body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    @media only screen and (max-width: 700px) {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
    }

    .virtual-reality__business-solution {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      row-gap: 20px;
      -webkit-box-flex: 1;
      -ms-flex-positive: 1;
      flex-grow: 1;

      .business-solution__title {
        font-size: 58px;
        line-height: 84px;
        /* or 145% */
        letter-spacing: 0.02em;
        background: -o-linear-gradient(0.17deg, #2563EB 0.11%, #D946EF 58.65%);
        background: linear-gradient(89.83deg, #2563EB 0.11%, #D946EF 58.65%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        text-shadow: 0 4px 4px rgba(0, 0, 0, 0.07);

        @media only screen and (max-width: 960px) {
          font-size: 32px;
          line-height: 40px;
          text-align: center;
        }
      }

      .business-solution__text {
        font-size: 15px;
        line-height: 30px;
        color: #E5E7EB;
        opacity: 0.8;
        text-shadow: 0 4px 4px rgba(0, 0, 0, 0.07);
        max-width: 554px;
        @media only screen and (max-width: 960px) {
          font-size: 10px;
          line-height: 20px;
        }
      }

      .business-solution__buttons {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;

        .join_us {

        }

        .business-solution__watch-video {
          font-size: 16px;
          line-height: 21px;
          color: #F9FAFB;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-pack: justify;
          -ms-flex-pack: justify;
          justify-content: space-between;
          -webkit-box-align: center;
          -ms-flex-align: center;
          align-items: center;
          -webkit-column-gap: 10px;
          -moz-column-gap: 10px;
          column-gap: 10px;
          cursor: pointer;
          -webkit-transition: all 0.3s ease;
          -o-transition: all 0.3s ease;
          transition: all 0.3s ease;

          &::before {
            content: '';
            display: block;
            width: 30px;
            height: 30px;
            background: url('../../images/Play.png');
          }

          &:hover {
            text-shadow: 0 0 10px #FFFFFF;
          }
        }
      }
    }

    .virtual-reality__capture {
      position: relative;
      width: 680px;
      height: 680px;
      -ms-flex-negative: 1;
      flex-shrink: 1;
      -webkit-box-flex: 0;
      -ms-flex-positive: 0;
      flex-grow: 0;
      @media only screen and (max-width: 960px) {
        margin-top: -30px;
      }
      @media only screen and (max-width: 560px) {
        width: auto;
        height: auto;
      }

      img {
        position: absolute;
        z-index: 20;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        -o-object-fit: contain;
        object-fit: contain;
      }

      &::after {
        content: '';
        position: absolute;
        z-index: 3;
        left: 76.11%;
        right: 0.28%;
        top: 3.52%;
        bottom: 90.2%;
        width: 300px;
        height: 500px;
        background: #5141DA;
        -webkit-filter: blur(170px);
        filter: blur(170px);
      }
    }
  }
}

section.our_services {
  margin-bottom: 200px;

  .our_services__body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    row-gap: 30px;

    .our_services__title {
      font-size: 42px;
      line-height: 55px;
      color: #FFFFFF;
      font-weight: 700;
    }

    .our_services__information {
      font-weight: 400;
      font-size: 16px;
      line-height: 26px;
      text-align: center;
      color: #FFFFFF;
      max-width: 587px;
    }

    .our_services__cards {
      display: -ms-grid;
      display: grid;
      -ms-grid-columns: 1fr 5px 1fr 5px 1fr;
      grid-template-columns: 1fr 1fr 1fr;
      -webkit-column-gap: 30px;
      -moz-column-gap: 30px;
      column-gap: 30px;
      row-gap: 40px;
      @media only screen and (max-width: 790px) {
        grid-template: 1fr 1fr / 1fr 1fr;
      }
      @media only screen and (max-width: 570px) {
        grid-template: 1fr / 1fr;
      }

      .our_services__card:nth-child(1):hover {
        -webkit-box-shadow: 0 0 20px 20px #5141DA;
        box-shadow: 0 0 20px 20px #5141DA;
      }

      .our_services__card:nth-child(2):hover {
        -webkit-box-shadow: 0 0 20px 20px #923250;
        box-shadow: 0 0 20px 20px #923250;
      }

      .our_services__card:nth-child(3):hover {
        -webkit-box-shadow: 0 0 20px 20px #4292BB;
        box-shadow: 0 0 20px 20px #4292BB;
      }

      .our_services__card:nth-child(4):hover {
        -webkit-box-shadow: 0 0 20px 20px #2F8F5B;
        box-shadow: 0 0 20px 20px #2F8F5B;
      }

      .our_services__card:nth-child(5):hover {
        -webkit-box-shadow: 0 0 20px 20px #923283;
        box-shadow: 0 0 20px 20px #923283;
      }

      .our_services__card:nth-child(6):hover {
        -webkit-box-shadow: 0 0 20px 20px #4247BB;
        box-shadow: 0 0 20px 20px #4247BB;
      }

      .our_services__card:hover {
        cursor: pointer;
        border-radius: 100px;
      }

      .our_services__card {
        background: -o-linear-gradient(181.88deg, rgba(254, 254, 255, 0.032) -11.04%, rgba(255, 255, 255, 0.018) 104.89%);
        background: linear-gradient(268.12deg, rgba(254, 254, 255, 0.032) -11.04%, rgba(255, 255, 255, 0.018) 104.89%);
        /* Shadow */
        -webkit-box-shadow: 0 22px 200px inset rgba(0, 0, 0, 0.05);
        box-shadow: 0 22px 200px inset rgba(0, 0, 0, 0.05);
        -webkit-transition: all 1s ease-in-out;
        -o-transition: all 1s ease-in-out;
        transition: all 1s ease-in-out;
        border-radius: 34px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        padding: 23px;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        row-gap: 15px;
        position: relative;

        .card__image {
          position: relative;
          width: 60px;
          height: 60px;

          img {
            position: absolute;
            width: 100%;
            height: 100%;
            -o-object-fit: cover;
            object-fit: cover;
          }
        }

        .card__title {
          font-weight: 500;
          font-size: 20px;
          line-height: 31px;
          color: #FFFFFF;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-align: center;
          -ms-flex-align: center;
          align-items: center;
          -webkit-box-pack: center;
          -ms-flex-pack: center;
          justify-content: center;

        }

        .card__text {
          font-weight: 400;
          font-size: 16px;
          line-height: 26px;
          /* or 162% */
          color: #FFFFFF;
        }

        .card__button {
          font-weight: 400;
          font-size: 16px;
          line-height: 26px;
          /* identical to box height, or 162% */
          color: #FFFFFF;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-pack: justify;
          -ms-flex-pack: justify;
          justify-content: space-between;
          -webkit-box-align: center;
          -ms-flex-align: center;
          align-items: center;
          -webkit-column-gap: 5px;
          -moz-column-gap: 5px;
          column-gap: 5px;

          &::after {
            content: '';
            display: block;
            width: 14px;
            height: 14px;
            background: url('../../images/arrow.png') center;
          }
        }
      }
    }
  }

}

section.complete-every-service {
  margin-bottom: 186px;

  .complete-every-service__body {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 2fr;
    grid-template-columns: 1fr 2fr;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    @media only screen and (max-width: 940px) {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .complete-every-service_image {
      @include image_construction;
    }

    .complete-every_service__content {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      row-gap: 30px;
      -ms-flex-negative: 1;
      flex-shrink: 1;
      -webkit-box-flex: 0;
      -ms-flex-positive: 0;
      flex-grow: 0;
      @media only screen and (max-width: 940px) {
        align-items: center;
      }

      .complete-every-service__title {
        font-weight: 700;
        font-size: 42px;
        line-height: 55px;
        color: #FFFFFF;
        @include media_title_smalling;
      }

      .complete-every-service__text {
        font-weight: 400;
        font-size: 16px;
        line-height: 26px;
        color: #FFFFFF;
        @media only screen and (max-width: 940px) {
          text-align: center;
          font-size: 13px;
          line-height: 23px;
        }
      }

      .complete-every-service__btn {
        @include service_btn_construction;
      }
    }
  }
}

section.complete-every-project {
  margin-bottom: 180px;

  .complete-every-project__body {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 2fr 1fr;
    grid-template-columns: 2fr 1fr;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    @include media_display_changing;

    .complete-every_project__content {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      row-gap: 30px;
      @media only screen and (max-width: 940px) {
        align-items: center;
      }

      .complete-every-project__title {
        font-weight: 700;
        font-size: 42px;
        line-height: 55px;
        color: #FFFFFF;
        max-width: 582px;
        @include media_title_smalling;
      }

      .complete-every-project__text {
        font-weight: 400;
        font-size: 16px;
        line-height: 26px;
        /* or 162% */

        color: #FFFFFF;
      }

      .complete-every-project__btn {
        @include service_btn_construction;
      }
    }

    .complete-every-project_image {
      @include image_construction;
    }
  }

}

section.our_team {
  margin-bottom: 120px;

  .our_team__body {
    .our_team__title {
      font-weight: 700;
      font-size: 42px;
      line-height: 55px;
      color: #FFFFFF;
      text-align: center;
      margin-bottom: 30px;

    }

    .our_team__text {
      font-weight: 400;
      font-size: 16px;
      line-height: 21px;
      text-align: center;

      color: #FFFFFF;
    }

    .our_team__cards {
      display: -ms-grid;
      display: grid;
      -ms-grid-columns: 1fr 20px 1fr 20px 1fr 20px 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      margin-top: 50px;
      -webkit-column-gap: 20px;
      -moz-column-gap: 20px;
      column-gap: 20px;
      @media only screen and (max-width: 850px) {
        grid-template: 1fr 1fr / 1fr 1fr;
        row-gap: 20px;
      }
      @media only screen and (max-width: 570px) {
        grid-template: 1fr / 1fr;
      }
      .card {
        background: -o-linear-gradient(181.88deg, rgba(254, 254, 255, 0.032) -11.04%, rgba(255, 255, 255, 0.018) 104.89%);
        background: linear-gradient(268.12deg, rgba(254, 254, 255, 0.032) -11.04%, rgba(255, 255, 255, 0.018) 104.89%);
        -webkit-box-shadow: 0 22px 18px rgba(0, 0, 0, 0.05);
        box-shadow: 0 22px 18px rgba(0, 0, 0, 0.05);
        border-radius: 34px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        row-gap: 10px;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        padding: 20px 10px;
        cursor: pointer;
        -webkit-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
        transition: all 0.3s ease;

        &:hover {
          -webkit-box-shadow: 0 0 10px 10px rgba(255, 255, 255, 0.5);
          box-shadow: 0 0 10px 10px rgba(255, 255, 255, 0.5);
        }

        div {
          img {
          }
        }

        .title {
          font-weight: 500;
          font-size: 28px;
          line-height: 36px;
          color: #FFFFFF;
        }

        .job {
          font-weight: 400;
          font-size: 16px;
          line-height: 21px;
          letter-spacing: 0.03em;
          color: #FFFFFF;
        }

        .messengers {
          img {
          }
        }
      }
    }
  }
}

section.last_news {
  margin-bottom: 100px;

  .last_news__body {
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(254, 254, 255, 0.1)), to(rgba(255, 255, 255, 0.1)));
    background: -o-linear-gradient(top, rgba(254, 254, 255, 0.1) 0%, rgba(255, 255, 255, 0.1) 100%);
    background: linear-gradient(180deg, rgba(254, 254, 255, 0.1) 0%, rgba(255, 255, 255, 0.1) 100%);
    -webkit-box-shadow: 0 22px 18px rgba(0, 0, 0, 0.05);
    box-shadow: 0 22px 18px rgba(0, 0, 0, 0.05);
    border-radius: 34px;
    padding: 50px 100px 40px 100px;
    @media only screen and (max-width: 700px) {
      padding: 20px;
    }
    .last_news__title {
      font-style: normal;
      font-weight: 700;
      font-size: 42px;
      line-height: 55px;
      /* identical to box height */
      text-align: center;
      color: #FFFFFF;
      @media only screen and (max-width: 700px) {
        font-size: 30px;
        line-height: 43px;
      }
    }

    .last_news__text {
      font-family: 'Roboto', sans-serif;
      font-weight: 400;
      font-size: 16px;
      line-height: 30px;
      text-align: center;
      color: #FFFFFF;
      opacity: 0.8;
      margin-bottom: 29px;
    }

    .last_news__subscribe {
      position: relative;

      label {
        @media only screen and (max-width: 700px) {
          width: 100%;
        }
        input {
          font-family: 'Rubik', sans-serif;
          font-style: normal;
          font-weight: 400;
          font-size: 18px;
          line-height: 30px;
          width: 100%;
          padding: 20px;
          color: #FFFFFF;
          opacity: 0.9;
          background: -webkit-gradient(linear, left top, left bottom, from(rgba(254, 254, 255, 0.0348)), to(rgba(255, 255, 255, 0.048)));
          background: -o-linear-gradient(top, rgba(254, 254, 255, 0.0348) 0%, rgba(255, 255, 255, 0.048) 100%);
          background: linear-gradient(180deg, rgba(254, 254, 255, 0.0348) 0%, rgba(255, 255, 255, 0.048) 100%);
          -webkit-box-shadow: 10px 24px 54px rgba(0, 0, 0, 0.07);
          box-shadow: 10px 24px 54px rgba(0, 0, 0, 0.07);
          border-radius: 70px;
          @media only screen and (max-width: 700px) {
            font-size: 10px;
            line-height: 22px;
          }
        }
      }

      .last_news__btn {
        position: absolute;
        right: 2%;
        top: 10%;
        font-family: 'Rubik', sans-serif;
        font-weight: 500;
        font-size: 20px;
        line-height: 30px;
        text-align: center;
        color: #FFFFFF;
        background: -o-linear-gradient(359.65deg, #2563EB 0.36%, #D946EF 201.02%);
        background: linear-gradient(90.35deg, #2563EB 0.36%, #D946EF 201.02%);
        opacity: 0.9;
        border-radius: 70px;
        @media only screen and (max-width: 700px) {
          font-size: 10px;
          line-height: 30px;
        }

        &::before {
          content: '';
          display: block;
          width: 15px;
          height: 15px;
          background: url('../../images/send.png') center;
          margin-right: 10px;
        }

      }
    }
  }
}


footer.footer._passive._animation-items {
  .footer__body {
    .footer__items {
      display: -ms-grid;
      display: grid;
      -ms-grid-columns: 1fr 10px 3fr;
      grid-template-columns: 1fr 3fr;
      margin-bottom: 10px;

      @media only screen and (max-width: 1020px) {
        grid-template: 1fr / 1fr
      }

      li {
        color: rgba(255, 255, 255, 0.8);
      }

      .footer__item-left {
        ul {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
          -ms-flex-direction: column;
          flex-direction: column;
          row-gap: 20px;
          -webkit-box-align: start;
          -ms-flex-align: start;
          align-items: flex-start;
          -webkit-box-pack: justify;
          -ms-flex-pack: justify;
          justify-content: space-between;
          @media only screen and (max-width: 1020px) {
            align-items: center;
          }

          li:nth-child(1) {
            &::before {
              content: '';
              display: block;
              width: 35px;
              height: 35px;
              background: url('../../images/main_logo.png');
            }
          }

          li:nth-child(2) {
            &::before {
              content: '';
              display: block;
              width: 24px;
              height: 24px;
              background: url('../../images/Virtual Reality Business Solutions/Iconly/Light/Location.png');
            }
          }

          li:nth-child(3) {
            &::before {
              content: '';
              display: block;
              width: 24px;
              height: 24px;
              background: url('../../images/Virtual Reality Business Solutions (1)/Iconly/Light/Calling.png');
            }
          }

          li:nth-child(4) {
            &::before {
              content: '';
              display: block;
              width: 24px;
              height: 24px;
              background: url('../../images/Virtual Reality Business Solutions (2)/Iconly/Light/Message.png');
            }
          }

          li {
            font-weight: 400;
            font-size: 16px;
            line-height: 32px;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-column-gap: 10px;
            -moz-column-gap: 10px;
            column-gap: 10px;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
          }

          li {
            img {
            }
          }
        }
      }

      .footer__item-right {
        display: -ms-grid;
        display: grid;
        -ms-grid-columns: 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        justify-items: end;

        @media only screen and (max-width: 1020px) {
          grid-template: 1fr 1fr / 1fr 1fr;
          justify-items: baseline;
          margin-top: 10px;
          gap: 40px;
        }

        ul {
          li {
            font-weight: 500;
            font-size: 18px;
            line-height: 40px;
            letter-spacing: 0.01em;
            @media only screen and (max-width: 700px) {
              font-size: 12px;
              line-height: 34px;
            }
          }
        }
      }
    }

    hr {
      width: 100%;
      background: #969696;
      opacity: 0.2;
      height: 3px;
    }

    .footer__privacy {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-direction: row;
      flex-direction: row;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      margin-top: 33px;
      margin-bottom: 36px;

      .footer__rights {
        font-family: 'Rubik', sans-serif;
        font-weight: 400;
        font-size: 14px;
        line-height: 14px;
        color: rgba(255, 255, 255, 0.8);
        @media only screen and (max-width: 700px) {
          font-size: 8px;
          line-height: 8px;
        }
      }

      .footer__tips {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -webkit-column-gap: 50px;
        -moz-column-gap: 50px;
        column-gap: 50px;

        .footer__tip {
          font-weight: 400;
          font-size: 14px;
          line-height: 14px;
          color: rgba(255, 255, 255, 0.8);
          @media only screen and (max-width: 700px) {
            font-size: 8px;
            line-height: 8px;
          }
        }
      }
    }
  }
}


.btn-color {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  padding: 12px 24px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background: -o-linear-gradient(359.65deg, #2563EB 0.36%, #D946EF 201.02%);
  background: linear-gradient(90.35deg, #2563EB 0.36%, #D946EF 201.02%);
  border-radius: 5px;
  color: #F9FAFB;
  cursor: pointer;
  -webkit-transition: -webkit-box-shadow 0.3s ease;
  transition: -webkit-box-shadow 0.3s ease;
  -o-transition: box-shadow 0.3s ease;
  transition: box-shadow 0.3s ease;
  transition: box-shadow 0.3s ease, -webkit-box-shadow 0.3s ease;
}

.btn-color:hover {
  -webkit-box-shadow: 0 0 5px 5px #FFFFFF;
  box-shadow: 0 0 5px 5px #FFFFFF;
}

.btn-color:active {
  -webkit-box-shadow: 0 0 20px 20px inset rgba(255, 255, 255, 0.3);
  box-shadow: 0 0 20px 20px inset rgba(255, 255, 255, 0.3);
}

._active {
  -webkit-transition: all 0.8s linear 0s;
  -o-transition: all 0.8s linear 0s;
  transition: all 0.8s linear 0s;
  -webkit-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  transform: translate(0, 0);
  opacity: 1;
}

._passive {
  -webkit-transform: translate(0, 100px);
  -ms-transform: translate(0, 100px);
  transform: translate(0, 100px);
  opacity: 0;
}

._passive-second {
  -webkit-transform: translate(0, -50px);
  -ms-transform: translate(0, -50px);
  transform: translate(0, -50px);
  opacity: 0;
}

._active-second {
  -webkit-transition: all 0.8s linear 0s;
  -o-transition: all 0.8s linear 0s;
  transition: all 0.8s linear 0s;
  -webkit-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  transform: translate(0, 0);
  opacity: 1;
}

.stop-counting {
  opacity: 1 !important;
  -webkit-transform: translate(0, 0) !important;
  -ms-transform: translate(0, 0) !important;
  transform: translate(0, 0) !important;
}

.header__burger {
  display: none;
  @media only screen and (max-width: 800px) {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    row-gap: 3px;
    div {
      width: 33px;
      height: 3.84px;
      background: #FFFFFF;
      border-radius: 10px;
    }
    &::before {
      content: '';
      display: block;
      width: 33px;
      height: 3.84px;
      background: #FFFFFF;
      border-radius: 10px;
    }
    &::after {
      content: '';
      display: block;
      width: 33px;
      height: 3.84px;
      background: #FFFFFF;
      border-radius: 10px;
    }
  }
}

.header__burger_passive {
  display: none;
}

.burger__content {
  display: none;
}

.burger__content_active {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: #171836;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 1000;
  padding: 30px 5px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;

  ul.burger__tips {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 60px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;

    li.tips__tip {
      font-size: 20px;
      line-height: 18px;
      color: #F9FAFB;
      cursor: pointer;
      -webkit-transition: all 0.3s linear;
      -o-transition: all 0.3s linear;
      transition: all 0.3s linear;

      &:hover {
        text-shadow: 0 0 20px #FFFFFF;
      }

      a {
        display: block;
        color: #F9FAFB;
      }
    }
  }
}


.overflow-hidden {
  overflow: hidden;
}